
dbuicon   ICON      res\dbu.ico
favicon   ICON      res\dbu.ico
tool      ICON      res\tool.ico
splash    jpg       res\dbu.jpg
first     bitmap    res\top.bmp
previous  bitmap    res\back.bmp
next      bitmap    res\next.bmp
last      bitmap    res\last.bmp
new       bitmap    res\new.bmp
save      bitmap    res\save.bmp
delete    bitmap    res\delrec.bmp
recall    bitmap    res\recall.bmp
filter    bitmap    res\filter.bmp
exit      bitmap    res\exit.bmp
open      bitmap    res\open.bmp
replace   bitmap    res\replace.bmp
MENUOPEN  bitmap    res\menuopen.bmp
MENUCLOSE bitmap    res\MenuClose.bmp
MENUNEW   bitmap    res\menuNew.bmp
MENUANSI  bitmap    res\Ansi.bmp
MENUOEM   bitmap    res\Oem.bmp
MENUEXIT  bitmap    res\exit2.bmp
MENUEDIT  bitmap    res\menuedit.bmp
MENUFILT  bitmap    res\menu_filter.bmp
MENUINDEX bitmap    res\menuindex.bmp
MENUQUEST bitmap    res\menuquestion.bmp
MENURECA  bitmap    res\menurecall.bmp
MENUPACK  bitmap    res\menupack.bmp
MENUHELP  bitmap    res\menuhelp.bmp
MENUREIND bitmap    res\menureind.bmp
MENUZAP   bitmap    res\menuzap.bmp
MENUSTRU  bitmap    res\menustru.bmp
MENUBROW  bitmap    res\menubrowse.bmp
MENUCLOIN bitmap    res\menucloind.bmp
MENUVER   bitmap    res\menuversion.bmp
MENUREPL  bitmap    res\menureplace.bmp
newfile   bitmap    res\newfile.bmp
browse    bitmap    res\browse.bmp
editmode  bitmap    res\editmode.bmp
close     bitmap    res\close.bmp
zap       bitmap    res\zap.bmp
pack      bitmap    res\pack.bmp
about     bitmap    res\about.bmp
modify    bitmap    res\modify.bmp
print     bitmap    res\print.bmp
index     bitmap    res\index.bmp
right     bitmap    res\br_ok.bmp
wrong     bitmap    res\br_no.bmp
cfilter   bitmap    res\cfilter.bmp
